<a href="https://colab.research.google.com/github/prachitrocks/prachitrocks-LetsUpgrade-AI-ML/blob/master/day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n=int(input("How many prime numbers would you like to print?"))
nos=range(1,n*10)
prime_nos=[]
for num in nos:
  if num>2 and len(prime_nos)  <=n-1:
    for i in range(2,num):
      if(num%i)  ==0:
        break
    else:
      prime_nos.append(num)
print("\nHere are the first",n,"non-even prime number: \n")
for x in prime_nos:
  print(x,end=" ")

How many prime numbers would you like to print?20

Here are the first 20 non-even prime number:

3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73

In [3]:
#center() function of  string
string ="python is easy"
new_string=string.center(50)
print("Centered String:",new_string)

Centered String:                   python is easy

In [10]:
#max of string
number = [3, 2, 8, 5, 10, 6]
largest_number = max(number);

print("The largest number is:", largest_number)

The largest number is: 10

In [11]:
#count the string
string = "Python is awesome"
substring = "is"

count = string.count(substring)

print("The count is:", count)

The count is: 1

In [12]:
#endswith the string
text = "my name is prachit."
result = text.endswith('is prachit')
print(result)

result=text.endswith("my name is prachit.")
print(result)

False
True

In [13]:
#expandtabs() the string
str='abc\t3456\tedf'
result=str.expandtabs()
print(result)

abc     3456    edf

In [15]:
#format the string
print("Hello {}, your balance is {}.".format("prachit", 230.2346))
print("Hello {0}, your balance is {1}.".format("prachit", 230.2346))

Hello prachit, your balance is 230.2346.
Hello prachit, your balance is 230.2346.

In [16]:
#index the string
sentence = 'Python programming is fun.'

result = sentence.index('is fun')
print("Substring 'is fun':", result)

Substring 'is fun': 19

In [17]:
#isalnum() the string
name="m256ism"
print(name.isalnum())

name="m2134 fun"
print(name.isalnum())

True
False

In [18]:
#isalpha() the string
name="ANIL"
print(name.isalpha())
#contains whitespace
name="ANIL SAMANT"
print(name.isalpha())
#contains number
name="ANIL123XYZ"
print(name.isalpha())

True
False
False

In [19]:
#isdecimal() the string
s="1245"
print(s.isdecimal())
#contains whitespace
s="123 45"
print(s.isdecimal())
#contains alphabets
s="789a bc"
print(s.isdecimal())

True
False
False

In [20]:
#isprintable of string
s='Space is printable'
print(s)
print(s.isprintable())

Space is printable
True

In [21]:
#isupper of string
string="THIS IS COOL"
print(string.isupper())

string="THIS IS cOOL"
print(string.isupper())

True
False

In [22]:
#islower of string
string = "THIS SHOULD BE LOWERCASE!"
print(string.lower())
string = "Th!s Sh0uLd B3 L0w3rCas3!"
print(string.lower())

this should be lowercase!
th!s sh0uld b3 l0w3rcas3!

In [23]:
#swapcase of string
string = "THIS SHOULD ALL BE LOWERCASE."
print(string.swapcase())

string = "this should all be uppercase."
print(string.swapcase())

string = "ThIs ShOuLd Be MiXeD cAsEd."
print(string.swapcase())

this should all be lowercase.
THIS SHOULD ALL BE UPPERCASE.
tHiS sHoUlD bE mIxEd CaSeD.

In [24]:
#lstrip() of string
random_string = '   this is wonderfull '

print(random_string.lstrip())

this is wonderfull

In [25]:
string1=input("Enter the word:")
rev_string=string1[::-1]
if rev_string ==string1:
  print("palindrome")
else:
  string2=input("Enter the word:")
  str1=sorted(string1)
  str2=sorted(string2)
  if str1==str2:
    print("Anagrams")
  else:
    print("None")

Enter the word:earth
Enter the word:heart
Anagrams

In [26]:
def replace_char(y):
  invalid_list=['!','@','#','%','&','*']
  for i in invalid_list:
    y=y.replace(i,'')
    y=y.lower()
  print("After removing all special characters from String")
  print("Resultant String is :",y)
string_5='Dr.Darshan Ingle @AI-ML Trainer'
print("String is :",string_5)
replace_char(string_5)

String is : Dr.Darshan Ingle @AI-ML Trainer
After removing all special characters from String
Resultant String is : dr.darshan ingle ai-ml trainer