<a href="https://colab.research.google.com/github/prachitrocks/prachitrocks-LetsUpgrade-AI-ML/blob/master/set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#having duplicate value
set1 = set([1, 2, 4, 4, 3, 3, 3, 6, 5]) 
print("\nSet with the use of Numbers: ") 
print(set1)

Set with the use of Numbers:
{1, 2, 3, 4, 5, 6}

In [ ]:
#having mixed value
set1 = set([1, 2, 'python', 4, 'is ', 6, 'awesome']) 
print("\nSet with the use of Mixed Values") 
print(set1)

Set with the use of Mixed Values
{1, 2, 4, 6, 'awesome', 'python', 'is '}

In [ ]:
#addition of element
set1.add(8) 
set1.add(9)  
print("\nSet after Addition of Three elements: ") 
print(set1)

Set after Addition of Three elements:
{1, 2, 4, 6, 8, 9, 'awesome', 'python', 'is '}

In [ ]:
# update() of elements
set1 = set([ 4, 5, (6, 7)]) 
set1.update([10, 11]) 
print("\nSet after Addition of elements using Update: ") 
print(set1)

In [ ]:
#access of set
set1 = set(["pray", "For", "yourself"]) 
print("\nInitial set") 
print(set1)

Initial set
{'For', 'pray', 'yourself'}

In [1]:
#remove the set
set1 = set([1, 2, 3, 4, 5, 6,  
            7, 8, 9, 10, 11, 12])
set1.remove(5) 
set1.remove(6) 
print("\nSet after Removal of two elements: ") 
print(set1)

Set after Removal of two elements:
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

In [2]:
#pop()  of the set
set = set([1, 2, 3, 4, 5, 6,  
            7, 8, 9, 10, 11, 12]) 
set.pop() 
print("\nSet after popping an element: ") 
print(set)

Set after popping an element:
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}